{% extends 'base.html.twig' %}

{% block title %}Wilders Helpers - Welcome{% endblock %}

{% block body %}
 <main class="home-main-content">
    {% include "/home/modals/_wilders_team.html.twig" %}
 </main>
{% endblock %}
