{% extends 'base.html.twig' %}

{% block title %}Wilders Helpers - Welcome{% endblock %}

{% block body %}
 <main class="home-main-content">
   <section class="home-carousel-container">
      {% include "/home/modals/_wilders_team.html.twig" %}
   </section>
   <section class="home-presentation">
      <div class="home-presentation-content">
         <h1 class="home-presentation-title">The best of the reseau for the PHP Wilders 2022 !</h1>
         <p class="home-presentation-description">Des dizaines d'offres et de demandes de la part de la Team Wilders PHP 2022.<br>
            Informatique, Bricolage, Cuisine et bien d'autres catégories...<br>
            N'hésitez pas à poster ! Un camarade sera toujours là pour vous aider !
         </p>
      </div>
      <div class="home-presentation-connexion">
         <img class="home-presentation-connexion-picture" src="{{ asset('build/images/divers/all-friends.png') }}"/>
         <button type="button" class="home-presentation-connexion-button"
                  id="home-presentation-connexion-button">
            <a class="redirect-button" href="{{ path('app_login') }}">
            Se connecter
            </a>
         </button>
      </div>
   </section>
   <section class="home-last-demands">
      <div class="home-last-demands-header">
         <div class="home-last-demands-header-container">
            <h2 class="home-last-demands-header-title">Dernières demandes</h2>
         </div>
      </div>
      <div class="home-last-demands-container">
      {% for post in posts %}
         {% if post.type.name is same as "demande" %}
            {% include "/home/layouts/_card.html.twig" %}
         {% endif %}
      {% endfor %}
      </div>
      <button class="home-last-all-demands-button"
               id="home-last-all-demands-button">
         <a class="redirect-button" href="{{ path('app_login') }}">
         Voir toutes les demandes
         </a>
      </button>
   </section>
   <section class="home-last-offers">
      <div class="home-last-offers-header">
         <div class="home-last-offers-header-container">
            <h2 class="home-last-offers-header-title">Dernières offres</h2>
         </div>
      </div>
      <div class="home-last-offers-container">
      {% for post in posts %}
         {% if post.type.name is same as "offre" %}
            {% include "/home/layouts/_card.html.twig" %}
         {% endif %}
      {% endfor %}
      </div>
      <button class="home-last-all-offers-button"
               id="home-last-all-offers-button">
         <a class="redirect-button" href="{{ path('app_login') }}">
         Voir toutes les offres
         </a>
      </button>
   </section>
 </main>
{% endblock %}
