<footer class="fixed-bottom footer">
    <a class="footer-links" id="footer-link" href="#">Contact</a>
    <p class="footer-text">© 2022 - <a class="footer-links" href="#">vdub-dev</a></p>
    <img class="footer-poo" src="{{ asset('build/images/divers/mr_hankey.png') }}"/>
</footer>