<header class="header">
    <div class="burger-menu" id="burger-menu">
        <span class="burger-span" id="first-line"></span>
        <span class="burger-span" id="not-cross"></span>
        <span class="burger-span" id="third-line"></span>
    </div>
    <div class="flexible-menu" id="flexible-menu">
        <img class="header-logged-avatar" src="{{ asset('' ~ app.user.avatar ~ '') }}"/>
        <div class="hidden-menu" id="hidden-menu">
            <a class="burger-menu-links" id="wilders-team-link" href="{{ path('app_post_index', {userId: app.user.id}) }}">Acceder au dashboard</a>
            <a class="burger-menu-links" id="burger-menu-add-post-link" href="#">Ajouter une annonce</a>
            <a class="burger-menu-links" href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>    
        <img class="logo-menu" src="{{ asset('build/images/logo/logo_big.png') }}" alt="logo blanc">
    </div>
</header>
