{% extends 'base_dashboard.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <h1 class="dashboard-title">Edit Comment</h1>

    <div class="dashboard-table">
        {{ include('user/comment/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    <div class="bg-light w-25 m-auto d-flex justify-content-around align-items-center">
        <a class="text-decoration-none text-secondary" href="{{ path('app_comment_index', {userId: app.user.id}) }}">back to list</a>
        {{ include('user/comment/_delete_form.html.twig') }}
    </div>

{% endblock %}
