@font-face {
    font-family: 'SouthPark';
    src: URL('../fonts/south\ park.ttf') format('truetype');
}

@mixin dimension($w, $h) {
    width: $w;
    height: $h;
}

@mixin absolutePosition($top, $left) {
    position : absolute;
    top: $top;
    left: $left;
}

@mixin absolutePositionRight($top, $right) {
    position : absolute;
    top: $top;
    right: $right;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    @include dimension(100vw, 100vh);
    background-image: url('../images/background/south_park_backgroud.jpg');
    background-repeat: no-repeat;
    background-position: top left;
}
