@font-face {
    font-family: 'SouthPark';
    src: URL('../fonts/south\ park.ttf') format('truetype');
}

$SouthParkFont: 'SouthPark', sans-serif;

$titleSize: calc(1rem + 0.5vw);
$textSize: calc(0.7rem + 0.5vw);

$greenColor: rgb(70, 197, 184);
$redColor: rgb(195, 5, 49);

@mixin dimension($w, $h) {
    width: $w;
    height: $h;
}

@mixin absolutePosition($top, $left) {
    position : absolute;
    top: $top;
    left: $left;
}

@mixin absolutePositionRight($top, $right) {
    position : absolute;
    top: $top;
    right: $right;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    overflow-y: scroll;
    @include dimension(100vw, 100vh);
    background-image: url('../images/background/south_park_backgroud.jpg');
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-attachment: fixed;
}

@media screen and (max-width: 399px) {
    body {
        background-image: url('../images/background/min_width_bckg.jpg') !important;
        background-position: 0% 0% !important;
        overflow-y: none !important;
        * {
            display: none !important;
        }
    }
}

@media screen and (min-width: 1921px) {
    body {
        background-image: url('../images/background/max_width_bckg.jpg') !important;
        background-position: 0% 0% !important;
        overflow-y: none !important;
        * {
            display: none !important;
        }
    }
}
