@import "~bootstrap/scss/bootstrap";
@import "./_var.scss";

// Layouts
@import "./Layouts/_header.scss";
@import "./Layouts/_footer.scss";

// Home page
@import "./Home/contact.scss";
@import "./Home/home.scss";
@import "./Home/modals/_wilders_team.scss";
@import "./Home/layouts/_card.scss";

// Login page
@import "./Security/login.scss";

// User page;
@import "./User/list.scss";
@import "./User/modals/_new_post.scss";