@import '../../_var.scss';

@keyframes slide {
    0% {
        z-index: 3;
    }
    50% {
        transform: translate(200px, -50%);
    }
    100% {
        z-index: 2;
    }
}

.wilders-team {
    position: absolute;
    right: -100%;
    @include dimension(90%, 90%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 40px 10px 0 10px;
    background-color: rgba(240, 248, 255, 0.9);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(95, 95, 95, 0.3);
    transition: 1.2s;
    transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);
    z-index: 2;
    .wilders-team-cartman-image {
        display: none;
    }
    .wilders-team-modal-close {
        @include dimension(30px, 30px);
        @include absolutePositionRight(10px, 15px);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .wilders-team-close-icon {
            @include dimension(100%, 100%);
        }
    }
    .wilders-team-polaroids {
        position: relative;
        @include dimension(100%, 100%);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        .wilders-team-polaroids-title {
            font-family: 'SouthPark', sans-serif;
            font-size: calc(1rem + 0.5vw);
        }
        .wilders-team-polaroids-zone {
            @include dimension(100%, calc(50% + 20vw));
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            max-height: 450px;
            .wilders-team-polaroids-content {
                @include dimension(100%, 95%);
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                .carousel-picture-general-style {
                    @include dimension(60%, auto);
                    max-width: 265px;
                    position: absolute;
                    top: 49%;
                    left: 50%;
                    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.02);
                    border: 1px solid rgb(206, 206, 206);
                    border-radius: 5px;
                    z-index: 3;
                    cursor: pointer;
                }
                .rotate-z-1 {
                    transform: translate(-50%, -50%) rotate(10deg);
                }
                .rotate-z-2 {
                    transform: translate(-50%, -50%) rotate(4deg);
                }
                .rotate-z-3 {
                    transform: translate(-50%, -50%) rotate(-4deg);
                }
                .rotate-z-4 {
                    transform: translate(-50%, -50%) rotate(-10deg);
                }
            }
            .wilders-team-polaroids-indication {
                @include dimension(100%, 10%);
                font-family: 'SouthPark', sans-serif;
                text-align: center;
                margin-bottom: 0;
            }
        }
        .wilders-team-description-zone {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            min-height: 30%;
            margin-bottom: 5px;
            .carousel-description {
                @include dimension(100%, 100%);
                background-color: white;
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 1px solid rgb(206, 206, 206);
                border-radius: 5px;
                z-index: 1;
                .carousel-description-question {
                    font-family: 'SouthPark', sans-serif;
                    font-size: calc(1rem + 0.5vw);
                    margin-bottom: 15px;
                }
                .carousel-description-joke {
                    font-family: 'SouthPark', sans-serif;
                    font-size: calc(0.7rem + 0.5vw);
                    padding: 0 calc(10px + 5vw);
                    margin-bottom: 15px;
                }
                .carousel-description-answer {
                    font-family: 'SouthPark', sans-serif;
                    font-size: calc(0.7rem + 0.5vw);
                    text-align: left;
                    padding: 0 calc(10px + 5vw);
                    margin-bottom: 0;
                }
            }
        }
    }
}

.wilders-team-display {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.z-index-2 {
    animation-name: slide;
    animation-duration: 0.5s;
    z-index: 2 !important;
}

.z-index-1 {
    z-index: 0 !important;
}

@media screen and (min-width: 900px) {
    .wilders-team {
        max-width: 1000px !important;
        height: 75% !important;
        .wilders-team-cartman-image {
            @include absolutePositionRight(56%, 10%);
            display: block;
        }
        .wilders-team-polaroids {
            flex-direction: row !important;
            .wilders-team-polaroids-title {
                @include absolutePosition(0, 50%);
                transform: translateX(-50%);
            }
        }
        .wilders-team-description-zone {
            height: 40%;
            align-self: flex-start;
            margin-top: 6%;
            .carousel-description-question {
                font-size: 1.4rem !important;
            }
            .carousel-description-joke {
                font-size: 15px !important;
                padding: 0 65px !important;
            }
            .carousel-description-answer {
                font-size: 15px !important;
                padding: 0 65px !important;
            }
        }
    }

}