<section class="wilders-team">
    <div class="wilders-team-modal-close" id="wilders-team-modal-close">
        <img class="wilders-team-close-icon" src="{{ asset('build/images/icons/close.png') }}"/>
    </div>
    <div class="wilders-team-polaroids">
        <h1 class="wilders-team-polaroids-title">
            Wilders Team PHP 2022 !!
        </h1>
        <div class="wilders-team-polaroids-zone">

        </div>
    </div>
</section>