@import '../_var.scss';

.home-main-content {
    position: relative;
    width: 100vw;
    min-height: 90vh;
    .home-carousel-container {
        position: absolute;
        @include dimension(100%, 90vh);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .home-presentation {
        @include dimension(90%, 80vh);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        .home-presentation-content {
            @include dimension(90%, 46%);
            background-color: rgba(240, 248, 255, 0.7);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 130px;
            padding: 10px 10px 0 10px;
            gap: 25px;
            border-radius: 10px;
            box-shadow: 5px 5px 5px rgba(95, 95, 95, 0.3);
            .home-presentation-title {
                font-family: 'SouthPark', sans-serif;
                font-size: calc(1.35rem + 0.5vw);
                text-align: center;
            }
            .home-presentation-description {
                font-family: 'SouthPark', sans-serif;
                font-size: calc(0.8rem + 0.5vw);
                text-align: justify;
            }
        }
        .home-presentation-connexion {
            @include dimension(90%, 30%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            .home-presentation-connexion-picture {
                display: none;
            }
            .home-presentation-connexion-button {
                @include dimension(165px, 20%);
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $redColor;
                border: none;
                border-radius: 20px;
                font-family: $SouthParkFont;
                font-size: calc(0.8rem + 0.5vw);
                color: white;
            }
        }
    }
    .home-last-demands {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        margin: auto;
        padding-bottom: 50px;
        gap: 20px;
        .home-last-demands-header {
            @include dimension(100%, 60px);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 20px;
            .home-last-demands-header-container {
                @include dimension(60%, 90%);
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $greenColor;
                transform: skew(30deg);
                .home-last-demands-header-title {
                    font-family: $SouthParkFont;
                    font-size: calc(0.8rem + 0.5vw);
                    transform: skew(-30deg);
                    margin-bottom: 0;
                }
            }
        }
        .home-last-demands-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            width: 90%;
            margin: auto;
            gap: 20px;
        }
        .home-last-all-demands-button {
            @include dimension(320px, 35px);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $greenColor;
            border: none;
            border-radius: 5px;
            font-family: $SouthParkFont;
            font-size: calc(0.8rem + 0.5vw);
        }
    }

    .home-last-offers {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        margin: auto;
        padding-bottom: 70px;
        gap: 20px;
        .home-last-offers-header {
            @include dimension(100%, 60px);
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 20px;
            .home-last-offers-header-container {
                @include dimension(60%, 90%);
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $redColor;
                transform: skew(30deg);
                .home-last-offers-header-title {
                    font-family: $SouthParkFont;
                    font-size: calc(0.8rem + 0.5vw);
                    transform: skew(-30deg);
                    margin-bottom: 0;
                    color: white;
                }
            }
        }
        .home-last-offers-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            width: 90%;
            margin: auto;
            gap: 20px;
        }
        .home-last-all-offers-button {
            @include dimension(320px, 35px);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $redColor;
            border: none;
            border-radius: 5px;
            font-family: $SouthParkFont;
            font-size: calc(0.8rem + 0.5vw);
            color: white;
        }
    }
}

.redirect-button {
    text-decoration: none;
    color: inherit;
    z-index: 1;
    &:hover {
        color: inherit;
    }
}

@media screen and (min-width: 900px) {
    .home-presentation {
        flex-direction: row !important;
        max-width: 1000px !important;
        .home-presentation-content {
            margin-top: 0 !important;
            .home-presentation-title {
                font-size: 1.4rem !important;
            }
            .home-presentation-description {
                font-size: 15px !important;
            }
        }
        .home-presentation-connexion {
            height: 60% !important;
            gap: 40px !important;
            .home-presentation-connexion-picture {
                @include dimension(230px, 230px);
                display: block !important;
            }
            .home-presentation-connexion-button {
                height: 11% !important;
                font-size: 18px !important;
            }
        }
    }
    .home-last-demands {
        .home-last-demands-header-title {
            font-size: 18px !important;
        }
        .home-last-all-demands-button {
            font-size: 18px !important;
        }
    }
    .home-last-offers {
        .home-last-offers-header-title {
            font-size: 18px !important;
        }
        .home-last-all-offers-button {
            font-size: 18px !important;
        }
    }
}